@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
[class*="__container"]{
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
}

.main {
	background: url('../img/forest.jpg') center 0 / cover no-repeat;
	opacity: 0.8;
}
.main__container {
	padding: 50px 0;
}
.main__block {
}
.block {
}
.block__title {
	margin-bottom: 30px;
	text-align: center;
	font-size: 48px;
	letter-spacing: 1px;
	font-family: 'Press Start 2P', cursive;
}
.block__text {
}
.text {
}
.text__subtitle {
	padding-left: 30px;
	font-size: 30px;
	margin-bottom: 10px;
	font-family: 'Press Start 2P', cursive;
}
.text__items {
	margin-bottom: 40px;
	font-size: 18px;
	font-family: 'Lobster', cursive;
}
.text__item:not(:last-child){
	margin-bottom: 10px;
}
